<div class="index-container">
    <nav class="navbar navbar-expand-lg">

        <div class="container">
                <div class="col-lg-8s">
                    <a href="/login"><button class="btn btn-sm btn-primary"><span></span>Login</button></a>
                </div>
                <div class="col">
                    <a class="nav-link" href="/api/items/home">Home<span class="sr-only">(current)</span></a>
                </div>
                <div class="col">
                    <a class="nav-link" href="/api/items/clothing">Clothing</a>
                </div>
                <div class="col">
                    <a href="/#"><img src="/images/officiallogo.png" class="logo" alt="..."></a>
                </div>
                <div class="col">
                    <a class="nav-link" href="api/items/beauty">Beauty</a>
                </div>
                <div class="col">
                    <a class="nav-link" href="api/items/accessories">Accessories</a>
                </div>
                <div class="col">
                    <a href="/checkout"><button class="btn btn-sm btn-primary"><span
                                class="fa fa-shopping-cart"></span></button></a>
                </div>
        </div>

    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="image-col col-12">
                <img src="/images/mainpage.jpg" class="index-bg w-100" alt="...">

            </div>

        </div>
    </div>
</div>