<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/mystyles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>

</head>

<html>

<body>

  <div class="login">
    <h1>Log In</h1>
    <img src="logo.png" class="logo" alt="...">
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" class="email">

    <label for="password"><b>Password</b></label>
    <input type="text" class="password">

    <a href="#" class="btn btn-primary">Submit</a>
    <br>
    <p>Dont Have an Account? <a href="#">Sign Up</a>.</p>
  </div>
</body>

</html>