  <form action="/login" method="POST">
  <div class="bk-login">
  <div class="login">
    <h1>Log In</h1>
    
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" name="email" id="email">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="password">

    <a href="/" class="btn btn-primary">Submit</a>
    <br>
    <p>Dont Have an Account? <a href="/register">Sign Up</a>.</p>
  </div>
  </div>
  </form>
