<div class="index-container">
  <nav class="navbar navbar-expand-lg">

    <div class="container">
      <div class="col">
        <a class="nav-link" href="/api/items/home">Home<span class="sr-only">(current)</span></a>
      </div>
      <div class="col">
        <a class="nav-link" href="/api/items/clothing">Clothing</a>
      </div>
      <div class="col">
        <a href="/#"><img src="/images/design4.png" class="logo" alt="..."></a>
      </div>
      {{!-- <div class="col">
            <h1>ShopSpace</h1>
        </div> --}}
      <div class="col">
        <a class="nav-link" href="/api/items/beauty">Beauty</a>
      </div>
      <div class="col">
        <a class="nav-link" href="/api/items/accessories">Accessories</a>
      </div>
      <div class="col">
        <a href="/login"><button class="btn btn-sm btn-primary btn3"><span></span>Login</button></a> |
        <a href="/checkout"><button class="btn btn-sm btn-primary btn4"><span
              class="fa fa-shopping-cart"></span></button></a>
      </div>


    </div>

  </nav>


  <br>
  <br>
  <div class="container">
    <div class="row">
      {{#each this}}
      <div class="col-4">
        <div class="card" style="width: 18rem; margin: 5px 0 5px 0;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p><span id="itemName"></span>Name: {{name}}</p>
            <p><span id="itemPrice"></span>Price: ${{price}}</p>
            <p><span id="quantity"></span>Quantity Available: {{quantity}}</p>
            <div class="quantity buttons_added">
              <input type="button" value="-" class="subtract-item"><input type="number" step="1" min="1" max="" name="quantity"
                value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button"
                value="+" class="add-item">
            </div>
            <br>
            <button id="addToCart">Add To Cart</button>
          </div>
        </div>
      </div>
      {{/each}}