<br>
<br>
<div class="container">
  <div class="row">
    {{#each this}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p><span id="itemName">Name</span></p>
          <p><span id="itemPrice">Price</span></p>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <a href="#" class="buy">Buy Now</a>
          {{/each}}
        </div>
      </div>
    </div>
    {{#each this}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p><span id="itemName">Name</span></p>
          <p><span id="itemPrice">Price</span></p>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <a href="#" class="buy">Buy Now</a>
          {{/each}}
        </div>
      </div>
    </div>
    {{#each this}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p><span id="itemName">Name</span></p>
          <p><span id="itemPrice">Price</span></p>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <a href="#" class="buy">Buy Now</a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="row">
    {{#each this}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p><span id="itemName">Name</span></p>
          <p><span id="itemPrice">Price</span></p>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <a href="#" class="buy">Buy Now</a>
        </div>
      </div>
    {{/each}}
    </div>
    {{#each this}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p><span id="itemName">Name</span></p>
          <p><span id="itemPrice">Price</span></p>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <a href="#" class="buy">Buy Now</a>
          {{/each}}
        </div>
      </div>
    </div>
    {{#each this}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p><span id="itemName">Name</span></p>
          <p><span id="itemPrice">Price</span></p>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <a href="#" class="buy">Buy Now</a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>