<br>
<br>
<div class="container">
  <div class="row">
    {{#each this}}
    <div class="col-4">
      <div class="card" style="width: 18rem; margin: 5px 0 5px 0;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p><span id="itemName"></span>Name: {{name}}</p>
          <p><span id="itemPrice"></span>Price: ${{price}}</p>
          <p><span id="quantity"></span>Quantity Available: {{quantity}}</p>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <button id="btnBuy"><a href="#" class="buy">Buy Now</a></button>
        </div>
      </div>
    </div>
    {{/each}}