h3 {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 3px 3px 3px #fff;
  text-align: center; }

.navbar {
  background-color: #ffcac3;
  padding: 1rem 1rem;
  color: #47d3bb; }

.container {
  width: 160%;
  /* padding-right: 15px; */
  padding-left: 70px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif; }

.navbar-nav {
  margin: auto; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%; }

.login {
  opacity: 9.5;
  width: 320px;
  height: 420px;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px; }

.logo {
  height: 42px;
  /* position: absolute;
  top: -19px;
  left: calc(50% - 108px); */
  text-shadow: 2px 2px; }

.login input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: white; }

.con1 {
  opacity: 9.5;
  width: 400px;
  height: 700px;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px; }

.container input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: white; }

.h1 {
  font-size: 200px;
  color: black;
  font-family: 'Lobster', cursive; }

.bk-login {
  background: url("/images/login.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh; }

.bk-signup {
  background: url("/images/signup.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh; }

.buy {
  color: white;
  background-color: #47d3bb; }

.quantity {
  display: inline-block; }

.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
  color: black; }

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; }

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none; }

.quantity.buttons_added .subtract-item,
.quantity.buttons_added .add-item {
  height: 41px;
  background-color: #eeeeee;
  border: 1px solid #efefef;
  cursor: pointer;
  width: 40px; 
  color: black;
}
  

.quantity.buttons_added .subtract-item {
  border-right: 0; }

.quantity.buttons_added .add-item {
  border-left: 0; }

.quantity.buttons_added .subtract-item:hover,
.quantity.buttons_added .add-item:hover {
  background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }

.quantity.buttons_added .subtract-item:focus,
.quantity.buttons_added .add-item:focus {
  outline: none; }

  .product-counter {
    display: inline;
  }

  .quantity {
    display: block;
  }

  .btn1 {
    width: 260px;
  }

 .btn2 {
   width: 340px;
 }
  